---
import PageLayout from "../../layouts/PageLayout.astro";
import { getPostBySlug } from "../../lib/contentful/posts";
import { mdConverter } from "../../lib/showdown";
import { generateAsciiArt } from "../../lib/ascii";

import "../../styles/highlight.js.css";
import FormattedDate from "../../components/FormattedDate.astro";

const { slug } = Astro.params;

const post = await getPostBySlug(slug as string);

const asciiTitle = await generateAsciiArt(post.title);
---

<PageLayout title={post.title}>
  <div class="article-container">
    <div class="title-container">
       <div class="title">
        {asciiTitle.map((word) => (
          <pre>{word}</pre>
        ))}
       </div>
      <p class="publish-details">Written by Max Maeder <span class="interpunct">·</span> Published <FormattedDate date={post.date} /></p>
    </div>
    <article set:html={mdConverter.makeHtml(post.content)} />
  </div>
</PageLayout>

<style>
  .article-container {
    padding: 1rem 4rem;
  }
  .title-container {
    border: 2px solid var(--border-primary-color);
    padding: 2rem;
    margin: 2rem 0;
  }
  .title {
    display: flex;
    flex-wrap: wrap;
  }
  .title pre {
    font-size: 0.3rem;
    font-family: monospace;
  }
  .publish-details {
    display: block;
    margin-top: 0.75rem;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-x: hidden;
  }
  @media (max-width: 799px) {
    .article-container {
      padding: 1rem 2rem;
		}
    .title-container {
      border: 2px solid var(--border-primary-color);
      padding: 1rem;
      margin: 1rem 0;
    }
    .title pre {
      font-size: 0.18rem;
    }
    .interpunct { 
      display: block;
      width: 100%;
      height: 0.1rem;
      visibility: hidden;
    }
	}
</style>

<style is:global>
  code:not(pre code) {
    /* display: inline-block; */
    color: #444;
    background-color: #f3f3f3;
    font-family: monospace;
    border: 1px solid #9d9d9d;
    border-radius: 4px;
    padding: 2px;
    margin: 1px 0;
    line-height: 2;
  }
</style>