---
import PageLayout from '../../layouts/PageLayout.astro';
import PostCard from "../../components/PostCard.astro"
import { getPosts } from '../../lib/contentful/posts';
import Button from '../../components/Button.astro';

const posts = await getPosts();
---

<PageLayout>
	<div class="rss-container">
		<Button text="RSS Feed" href="/rss.xml" target="_blank" svg="rss.svg" />
	</div>
	<div class="post-grid">
		{posts.map((post) => (
			<PostCard post={post} />
		))}
	</div>
</PageLayout>

<style> 
	.rss-container {
		display: grid;
		justify-content: end;
		align-items: start;
		height: 3rem;
		padding: 1rem 1rem 0;
	}
	.post-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		grid-gap: 3rem;
		padding: 0 3rem 3rem;
	}
	@media (max-width: 799px) {
		.rss-container {
			align-items: center;
			height: 2rem;
		}
		.post-grid {
			grid-template-columns: 1fr;
			padding: 0 2rem 2rem;
		}
	}
</style>