---
import PageLayout from '../../layouts/PageLayout.astro';
import PostCard from "../../components/PostCard.astro"
import { getPosts } from '../../lib/contentful/posts';
import Button from '../../components/Button.astro';
import Rss from '../../vectors/Rss.astro';
import Capybara from '../../vectors/animals/Capybara.astro';
import Shoebill from '../../vectors/animals/Shoebill.astro';

const posts = await getPosts();
---

<PageLayout title="Posts">
	<div class="rss-container">
		<Button text="RSS Feed" href="/rss.xml" target="_blank">
			<Rss />
		</Button>
	</div>
	<div class="post-grid">
		{posts.map((post) => (
			<PostCard post={post} />
		))}
	</div>
	<div class="animal-friends">
		<Capybara class="capybara" />
		<Shoebill class="shoebill"/>
	</div>
	{/* Add Percival and Gustavo */}
</PageLayout>

<style> 
	.rss-container {
		display: grid;
		justify-content: end;
		align-items: start;
		height: 3rem;
		padding: 1rem 1rem 0;
	}
	.post-grid {
		flex-grow: 1;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		grid-gap: 3rem;
		padding: 0 3rem 3rem;
	}
	.animal-friends {
		display: flex;
		justify-content: end;
		align-items: end;
		gap: 4rem;
		padding: 0 4rem 2rem;
	}
	.animal-friends :global(svg) {
		height: auto;
	}
	.animal-friends :global(.shoebill) {
		width: 7rem;
	}
	.animal-friends :global(.capybara) {
		width: 8.75rem;
		transform: scaleX(-100%);
	}
	@media (max-width: 799px) {
		.rss-container {
			align-items: center;
			height: 2rem;
		}
		.post-grid {
			grid-template-columns: 1fr;
			padding: 0 2rem 2rem;
		}
		.animal-friends {
			gap: 1.5rem;
			padding: 0 2rem 1rem;
		}
		.animal-friends :global(.shoebill) {
			width: 5rem;
		}
		.animal-friends :global(.capybara) {
			width: 6.25rem;
		}
	}
</style>