---
import PageLayout from '../layouts/PageLayout.astro';
import Button from '../components/Button.astro';
import Toast from '../components/Toast.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Lightbox from '../components/Lightbox.astro';
---

<PageLayout>
	<main>
		<Toast />
		<Lightbox />
		<div id="hero" class="section">
			<img src="headshot.jpeg" alt="Max Maeder Headshot">
			<div>
				<h1>Hi, I'm Max</h1>
				<p>
					I'm an undergraduate student majoring in Computer & Data Sciences at the 
					University of Wisconsin-Madison.
				</p>
				<div id="contact-container">
					<Button 
						id="email-copy"
						text="max@mmaeder.com"
						svg="file-copy.svg"
					/>
					·
					<Button 
						text="LinkedIn"
						href="https://www.linkedin.com/in/maxmaeder/"
						target="_blank"
						svg="arrow-up-right.svg"
					/>
					·
					<Button 
						text="Resume"
						href="/resume.pdf"
						target="_blank"
						svg="arrow-up-right.svg"
					/>
				</div>
				<h3>Places I've worked:</h3>
				<div id="companies-container">
					<img src="company-logos/capital-one.svg" alt="Capital One">
					<img src="company-logos/talos.svg" alt="Talos">
					<img src="company-logos/ramp.svg" alt="Ramp">
				</div>
			</div>
		</div>
		<div id="projects-header" class="section">
			<h3>Projects</h3>
		</div>
		<div id="projects">
			<!-- https://www.noiseandgradient.com/?chaos=0.15&colors=%2355dde0-%2333658a-%232f4858-%23f6ae2d-%23f26419&grain=0.25 -->
			<div class="project">
				<ProjectCard title="Actively-Stabilized Rocket" type="video" imgUrl="test-bg-1.jpeg" href="https://www.youtube.com/embed/MTnVXjBcCJs" />
			</div>
			<div class="project">
				<ProjectCard title="My Notes from Learning Python" type="link" imgUrl="test-bg-2.jpeg" href="#" />
			</div>
			<div class="project">
				<ProjectCard title="My Notes from Learning Python" type="link" imgUrl="test-bg-3.jpeg" href="#" />
			</div>
			{Array.from({ length: 50 }).map((_, index) => (
				<div class="project">
					<ProjectCard title="My Notes from Learning Python" type="link" imgUrl="test-bg.jpeg" href="#" />
				</div>
			))}
		</div>
	</main>
</PageLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	h1 {
		font-weight: 500;
		font-size: 2rem;
	}
	.section {
		width: 80%;
		margin: 2rem 0 0;
	}
	#hero {
		display: flex;
		gap: 2rem;
	}
	#hero > img {
		display: inline;
		border: 2px solid black;
		height: 25vw;
	}
	#hero > div {
		flex-grow: 1;
	}
	#contact-container {
		display: flex;
		gap: .25rem;
		margin-bottom: 2rem;
	}
	#companies-container {
		display: flex;
		gap: 2rem;
	}
	#companies-container > img {
		height: 3rem;
		max-width: 8rem;
		width: auto;
		object-fit: contain;
	}
	#projects-header {
		width: 100%;
		padding: 1rem 2rem;
		border: 2px black;
		border-style: solid none none;
	}
	#projects-header > h3 {
		margin: 0;
		font-weight: 500;
		font-size: 2rem;
	}
	#projects {
		display: grid;
		width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* Responsive columns */
		grid-gap: 2px;
	}
	.project {
		outline: 2px solid black;
		aspect-ratio: 1;
	}
</style>

<script>
	import { Toaster } from "../lib/toaster"

	const toast = new Toaster();

	const copyButton = document.getElementById("email-copy");
	copyButton?.addEventListener("click", () => {
		navigator.clipboard.writeText("max@mmaeder.com")
		toast.showMessage("Email copied.");
	})
</script>