---
import XMark from "../icons/XMark.astro";
---

<div id="lightbox">
  <p class="loader">Loading...</p>
  <XMark />
</div>

<style is:global>
  #lightbox {
    position: fixed;
    inset: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  #lightbox.visible {
    opacity: 1;
    pointer-events: unset;
  }
  #lightbox .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 400;

    visibility: hidden;
  }
  #lightbox.visible .loader {
    visibility: visible;
  }
  #lightbox iframe {
    z-index: 10;
    width: 80vw;
    aspect-ratio: 16 / 9;
    border: none;
  }
  #lightbox svg {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 3rem;
    width: auto;
    cursor: pointer;
  }
  @media (max-width: 799px) {
    #lightbox {
      padding: 0 1rem;
    }
    #lightbox iframe {
      width: 100%;
    }
    #lightbox svg {
      top: 1rem;
      right: 1rem;
      height: 2rem;
    }
  }
</style>