---
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
  description: string;
  imageUrl: string;
  loadHjsStyles?: boolean;
}

const { title, description, imageUrl, loadHjsStyles } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
      title={title} 
      description={description} 
      imageUrl={imageUrl} 
      loadHjsStyles={loadHjsStyles} 
      />
	</head>
	<body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --light-primary-color: #fffef1;
    --dark-primary-color: rgb(12, 12, 12);

    --bg-primary-color: var(--dark-primary-color);
    --bg-inverse-color: var(--light-primary-color);
    --bg-code-color: rgb(13, 17, 23);
    --text-primary-color: var(--light-primary-color);
    --text-inverse-color: var(--dark-primary-color);
    --text-code-color: #fff;
    --border-primary-color: var(--light-primary-color);
    --border-code-color: #9d9d9d;
    --border-width: 2px;
  }
  @media (prefers-color-scheme: light) {
    :root {
      --light-primary-color: white;
      --dark-primary-color: black;

      --bg-primary-color: var(--light-primary-color);
      --bg-inverse-color: var(--dark-primary-color);
      --bg-code-color: #f3f3f3;
      --text-primary-color: var(--dark-primary-color);
      --text-inverse-color: var(--light-primary-color);
      --text-code-color: #444;
      --border-primary-color: var(--dark-primary-color);
      --border-code-color: #9d9d9d;
    }
  }
</style>

<style is:global>
  html {
    height: 100%;
  }

  @font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'SwitzerItalic';
    src: url('../fonts/Switzer-VariableItalic.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
  }

  * {
    font-family: "Switzer";
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    color: var(--text-primary-color)
  }

  .error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error-details {
    margin-top: 0.75rem;
  }
</style>