---
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
  description: string;
  imageUrl: string;
}

const { title, description, imageUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} imageUrl={imageUrl} />
	</head>
	<body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    height: 100%;
  }

  @font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'SwitzerItalic';
    src: url('../fonts/Switzer-VariableItalic.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
  }

  * {
    font-family: "Switzer";
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
  }

  .error-container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error-details {
    margin-top: 0.75rem;
  }
</style>