---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro"
import { SITE_DESCRIPTION, SITE_TITLE, SITE_SHARE_IMAGE } from "../consts";

interface Props {
  title?: string;
  description?: string;
  imageUrl?: string;
  centerContent?: boolean;
}

const { title, description, imageUrl, centerContent } = Astro.props;
---

<BaseLayout 
  title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
  description={description ?? SITE_DESCRIPTION}
  imageUrl={imageUrl ?? SITE_SHARE_IMAGE}
  >
  <Header />
  <main>
    <slot />
  </main>
</BaseLayout>

<style is:global>
  body {
    height: 100%;

    display: flex;
    flex-direction: column;

    overscroll-behavior: none;
    background-image: url("/texture.png");
  }
  body.stop-scroll {
    overflow: hidden;
  }
  main {
    flex: 1;
  }
</style>

{centerContent && (
  <style is:global>
    main {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>)
}