---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro"
import { SITE_DESCRIPTION, SITE_TITLE, SITE_SHARE_IMAGE } from "../consts";

interface Props {
  title?: string;
  description?: string;
  imageUrl?: string;
}

const { title, description, imageUrl } = Astro.props;
---

<BaseLayout 
  title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
  description={description ?? SITE_DESCRIPTION}
  imageUrl={imageUrl ?? SITE_SHARE_IMAGE}
  >
  <Header />
  <main>
    <div class="bg">
      <slot />
    </div>
  </main>
</BaseLayout>

<style is:global>
  body {
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    overscroll-behavior: none;
    overflow: hidden;
  }
  body.stop-scroll {
    overflow: hidden;
  }
  main {
    flex: 1;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .bg {
    background-image: url("/texture.png");
    flex-grow: 1;
  }
</style>