---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro"
import { SITE_DESCRIPTION, SITE_TITLE, SITE_PREVIEW_IMAGE } from "../consts";

interface Props {
  title?: string;
  description?: string;
  imageUrl?: string;
  centerContent?: boolean;
}

const { title, description, imageUrl, centerContent } = Astro.props;
---

<BaseLayout 
  title={title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}
  description={description ?? SITE_DESCRIPTION}
  imageUrl={imageUrl ?? SITE_PREVIEW_IMAGE}
  >
  <div class="page-layout">
    <Header />
    <main>
      <slot />
    </main>
  </div>
</BaseLayout>

<style is:global>
  body {
    height: 100%;

    overscroll-behavior: none;
    background-color: var(--bg-primary-color);
    background-image: url("/texture.png");
  }
  body.stop-scroll {
    overflow: hidden;
  }
  .page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; 
  }
  main {
    flex: 1;
  }
</style>

{centerContent && (
  <style is:global>
    main {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>)
}